@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Roboto&display=swap');


#border {
    background-color:rgb(206, 222, 247);
    outline-color: rgb(235, 219, 250);
    outline-width: 5px 5px 5px 5px;
    border-image-outset: 5px 5px 5px 5px;
    outline-style: solid;
    padding-bottom: 20px;
}

#top {
    background-image: url('../images/banner.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:200px;
}

#container {
    padding-top: 20px;
    padding-bottom: 20px;
    align-content: center;
    transform: translate(-50%, -50%);
}

#our-story {
    background-color: black;
}

#our-team {
    background-color: black;
}

div {
    padding-top: 20px;
    padding-bottom: 10px;
    align-content: center;
}

h1, h2, h3 {
    font-family: 'Baloo Chettan', sans-serif;
}

h1 {
    padding-top: 20px;
    font-size: 70px;
    color: rgb(237, 245, 233); 
    /**mix-blend-mode: difference;*/
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../images/banner.jpg);
    background-repeat: repeat;
}

table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

a {
    text-emphasis: none;
    text-decoration: underline;
    color: #000;
}

a:hover {
    text-decoration-color: brown;
}

span.team {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue; 
    background-color: yellow; 
  }